Repository Semantic-Org/Semantic-UI-React, pull requests merged in 2019-04, with the labels that each got.

#3400 fix(Visibility): handle context scroll instead of just window scroll
  src/behaviors/Visibility/Visibility.js
  test/setup.js
  test/specs/behaviors/Visibility/Visibility-test.js
Labels: ready for review

#3564 docs(Shorthand|Theming): rework docs to be more actual
  docs/public/style.css
  docs/src/components/CodeEditor/CodeEditor.js
  docs/src/components/CodeSnippet/CodeSnippet.js
  docs/src/components/DocumentationPage/components.js
  docs/src/components/Sidebar/Sidebar.js
  docs/src/pages/Augmentation.mdx
  docs/src/pages/Layouts.mdx
  docs/src/pages/ShorthandProps.mdx
  docs/src/pages/Theming.mdx
  docs/src/pages/Usage.mdx
Labels: docs, ready for review

#3577 docs(pages): add navigation footer
  docs/src/components/DocumentationPage/DocumentationPage.js
  docs/src/components/DocumentationPage/DocumentationPageFooter.js
  docs/src/pages/Augmentation.mdx
  docs/src/pages/Layouts.mdx
  docs/src/pages/Prototypes.mdx
  docs/src/pages/ShorthandProps.mdx
  docs/src/pages/Theming.mdx
  docs/src/pages/Usage.mdx
  static.webpack.js
Labels: docs

#3549 perf(docs): improve rendering performance of example's pages
  docs/public/style.css
  docs/src/App.js
  docs/src/components/CarbonAd/CarbonAd.js
  docs/src/components/CodeEditor/CodeEditor.js
  docs/src/components/CodeEditor/CodeEditorUniveral.js
  docs/src/components/CodeEditor/index.js
  docs/src/components/CodeSnippet/CodeSnippet.js
  docs/src/components/ComponentDoc/ComponentControls/ComponentControls.js
  docs/src/components/ComponentDoc/ComponentControls/ComponentControlsCodeSandbox.js
  docs/src/components/ComponentDoc/ComponentControls/ComponentControlsEditCode.js
  docs/src/components/ComponentDoc/ComponentControls/ComponentControlsMaximize.js
  docs/src/components/ComponentDoc/ComponentControls/ComponentControlsShowHtml.js
  docs/src/components/ComponentDoc/ComponentDoc.js
  docs/src/components/ComponentDoc/ComponentDocContext.js
  docs/src/components/ComponentDoc/ComponentExample/ComponentExample.js
  docs/src/components/ComponentDoc/ComponentExample/ComponentExampleRenderEditor.js
  docs/src/components/ComponentDoc/ComponentExample/ComponentExampleRenderHtml.js
  docs/src/components/ComponentDoc/ComponentExample/ComponentExampleRenderSource.js
  docs/src/components/ComponentDoc/ComponentExample/renderConfig.js
  docs/src/components/ComponentDoc/ComponentProps/ComponentProps.js
  docs/src/components/ComponentDoc/ComponentProps/ComponentPropsDescription.js
  docs/src/components/ComponentDoc/ComponentSidebar/ComponentSidebarSection.js
  docs/src/components/ComponentDoc/ComponentTable/ComponentTable.js
  docs/src/components/ComponentDoc/ExampleEditor/ExampleEditor.js
  docs/src/components/ComponentDoc/ExampleEditor/ExampleEditorMenu.js
  docs/src/components/ComponentDoc/ExampleEditor/ExampleEditorPlaceholder.js
  docs/src/components/ComponentDoc/ExampleEditor/index.js
  docs/src/components/ComponentDoc/ExampleEditor/renderConfig.js
  docs/src/components/CopyToClipboard.js
  docs/src/components/DocsLayout.js
  docs/src/components/DocumentationPage/DocumentationPage.js
  docs/src/components/NoSSR.js
  docs/src/components/Sidebar/Sidebar.js
  docs/src/pages/Introduction.js
  package.json
  yarn.lock
Labels: docs, ready for review
